/* @font-face {
    font-family: "TerminaW05-Bold"; 
    src: url("//db.onlinewebfonts.com/t/e9591193aa91ce28ad8c8f91c03f6c7b.eot"); 
    src: url("//db.onlinewebfonts.com/t/e9591193aa91ce28ad8c8f91c03f6c7b.eot?#iefix") format("embedded-opentype"), 
    url("//db.onlinewebfonts.com/t/e9591193aa91ce28ad8c8f91c03f6c7b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/e9591193aa91ce28ad8c8f91c03f6c7b.woff") format("woff"), 
    url("//db.onlinewebfonts.com/t/e9591193aa91ce28ad8c8f91c03f6c7b.ttf") format("truetype"); 
}

@font-face {
    font-family: "agenda-l";
    src: url("agenda-l.woff2") format("woff2"),
    url("agenda-l.woff") format("woff"), 
    url("agenda-m.ttf") format("truetype"); 
}

@font-face {
    font-family: "agenda-m";
    src: url("agenda-m.woff2") format("woff2"),
    url("agenda-l.woff") format("woff"), 
    url("agenda-m.ttf") format("truetype"); 
} */

@import url("https://p.typekit.net/p.css?s=1&k=qdk1jef&ht=tk&f=28991.30026.30027.30029.30033&a=22707935&app=typekit&e=css");

@font-face {
font-family:"termina";
src:url("https://use.typekit.net/af/574117/00000000000000007735b222/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/574117/00000000000000007735b222/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/574117/00000000000000007735b222/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"agenda-l";
src:url("https://use.typekit.net/af/2439e4/00000000000000003b9ae391/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/2439e4/00000000000000003b9ae391/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/2439e4/00000000000000003b9ae391/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"agenda-r";
src:url("https://use.typekit.net/af/0c0905/00000000000000003b9ae392/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/0c0905/00000000000000003b9ae392/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/0c0905/00000000000000003b9ae392/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
}

@font-face {
font-family:"agenda-m";
src:url("https://use.typekit.net/af/3ccb81/00000000000000003b9ae394/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/3ccb81/00000000000000003b9ae394/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/3ccb81/00000000000000003b9ae394/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"agenda-b";
src:url("https://use.typekit.net/af/ab8655/00000000000000003b9ae398/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/ab8655/00000000000000003b9ae398/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/ab8655/00000000000000003b9ae398/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}