@import url(_slick.css);
@import url(../fonts/fonts.css);

body.no-scroll {
  position: fixed;
  width: 100%;
}

h4 {
  font-family: termina, sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 35px;
  color: #1e2324;
}

h5 {
  font-family: termina, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 35px;
  color: #1e2324;
}

.al25d {
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: #1e2324;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 25px;
  text-align: center;
}

.al25l {
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  letter-spacing: 0.5px;
  line-height: 32px;
  color: #fff;
  font-size: 25px;
  padding-left: 30px;
  padding-right: 30px;
  text-align: center;
}

a {
  color: #1e2324;
}

a:hover {
  color: #1e2324;
  text-decoration: none;
}

.banner {
  position: relative;
  height: calc(100vh - 85px);
}

.banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner:after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 35, 36, 0.55);
}

.top-nav {
  padding-top: 22px;
  padding-bottom: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.top-nav .mainlogo-wrap {
  margin-left: 20px;
}

.top-nav ul {
  list-style: none;
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.top-nav ul a {
  margin-left: 20px;
  font-size: 18px;
  font-family: agenda-m, sans-serif;
}

header.container {
  max-width: 1340px;
}

.b-content {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.b-content p {
  font-family: termina, sans-serif;
  margin-bottom: 0;
  line-height: 115px;
  color: #fff;
  font-size: 90px;
}

.b-content p span {
  color: #fd171b;
}

.b-content .container {
  text-align: center;
  padding-top: 3%;
}

.b-content .changing-line {
  height: 100px;
  margin-top: 60px;
}

.b-content .changing-line > div {
  font-family: termina, sans-serif;
  color: #fff;
  font-size: 35px;
}

.b-content span {
  color: #fd171b;
}

.arrow-wrap {
  position: absolute;
  bottom: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 6;
}

.subbanner {
  padding-top: 100px;
  padding-bottom: 65px;
}

.subbanner p {
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  letter-spacing: 0.5px;
  color: #1e2324;
  font-size: 25px;
  text-align: center;
  line-height: 32px;
  padding-left: 30px;
  padding-right: 30px;
}

.quadro {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}

.quadro > div {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.quadro > div:before {
  content: "";
  width: 100%;
  padding-top: 55%;
  display: block;
}

.quadro > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
}

.quadro > div:nth-child(odd) > div {
  position: absolute;
  left: 0;
  bottom: 1px;
  top: 1px;
  right: 1px;
  background-color: #1e2324;
}

.quadro > div:nth-child(even) > div {
  position: absolute;
  left: 1px;
  bottom: 1px;
  top: 1px;
  right: 0;
  background-color: #1e2324;
}

.quadro > div:nth-child(4) > div {
  background-color: #1e2324;
}

.quadro > div > div > img {
  transition: transform 0.5s ease;
}
.quadro > div > div:hover > img {
  transform: scale(1.5);
}

.quadro .readmorediv {
  margin-top: 20px;
}

.quadro > div > div > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.quadrooverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(30, 35, 36, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}

.quadrooverlay img {
  max-width: 100%;
}

.quadrooverlay .all-wrap {
  /*height: 250px;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.quadrooverlay p {
  font-family: termina, sans-serif;
  font-size: 25px;
  margin: 0;
}

.brands .quadrooverlay {
  background-color: transparent;
}

.readmore-wrap {
  font-family: termina, sans-serif;
  cursor: pointer;
  position: relative;
  font-size: 12px;
  width: 130px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
}

.readmore-wrap > span:nth-child(1) {
  border-radius: 18px;
  background-color: #fd171b;
  width: 27px;
  height: 27px;
  padding-right: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.readmore-wrap > span:nth-child(2) {
  position: absolute;
  right: 13px;
  top: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.readmore-wrap > span:nth-child(3) {
  position: absolute;
  left: 13px;
  top: 5px;
  opacity: 0;
  color: #fff;
}

.readmore-wrap:hover > span:nth-child(1) {
  width: 125px;
}

.readmore-wrap:hover > span:nth-child(2) {
  opacity: 0;
  -webkit-transition: all 0s;
  transition: all 0s;
}

.readmore-wrap:hover > span:nth-child(3) {
  opacity: 1;
}

.home-slider .container {
  max-width: 1210px;
  padding-left: 0;
  padding-right: 0;
}

.home-slider ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.home-slider .main-wrap picture {
  display: flex;
}

.home-slider .main-wrap picture img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  /*min-height: 400px;*/
  position: absolute;
}

.home-slider .swiper-pagination {
  bottom: 55px;
  text-align: right;
  padding-right: 50px;
}

.home-slider .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
}

.content {
  min-height: 400px;
  position: relative;
  width: 100%;
  height: 100%;
  /*top: 0;*/
  /*left: 0;*/
  padding-left: 70px;
  padding-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(rgba(30, 35, 36, 0.7))
  );
  background-image: linear-gradient(transparent, rgba(30, 35, 36, 0.7));
}

.brands .content {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(30, 35, 36, 0.4)),
    to(rgba(30, 35, 36, 0.9))
  );
  background-image: linear-gradient(
    rgba(30, 35, 36, 0.4),
    rgba(30, 35, 36, 0.9)
  );
}

.cutch {
  font-family: termina, sans-serif;
  font-size: 18px;
  color: #fff;
  text-align: left;
  padding-top: 50px;
}

.title {
  font-family: termina, sans-serif;
  text-align: left;
  font-size: 25px;
  color: #fff;
  max-width: 350px;
  padding-top: 20px;
  padding-bottom: 40px;
}

.clients {
  padding-bottom: 40px;
}

.clients .container {
  max-width: 1000px;
  text-align: center;
}

.clients h4 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 60px;
}

.clients .row > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 40px;
}

.clients .row > div img {
  max-width: 100%;
}

.clients .readmore-wrap {
  margin-top: 40px;
}

.clients .readmore-wrap > span:nth-child(2) {
  position: absolute;
  right: 23px;
  color: #1e2324;
}

.clients .row {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 40px;
  max-width: 1256px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70px;
  margin-left: 30px;
}

footer .privacy {
  font-family: agenda-r, sans-serif;
  font-size: 11px;
  margin-left: 15%;
}

footer .getintouch {
  padding-top: 5px;
  padding-bottom: 4px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #fd171b;
  border-radius: 15px;
  color: #fff;
  font-family: termina, sans-serif;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
}

footer .getintouch img {
  margin-left: 10px;
}

footer .copy {
  margin-left: auto;
  font-family: agenda-r, sans-serif;
  font-size: 11px;
}

footer .tel,
footer .mail {
  font-family: agenda-r, sans-serif;
  font-size: 22px;
  color: #1e2324;
  margin-bottom: 3px;
}

footer .tel span,
footer .mail span {
  color: #fd171b;
  margin-right: 5px;
}

footer .mail {
  margin-left: 15px;
}

.team {
  overflow-x: hidden;
}

.team .row {
  margin-left: -1px;
  margin-right: -1px;
}

.team .row > div {
  padding: 1px;
}

.team .contentdiv {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.team img {
  width: 100%;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.team h5 {
  font-family: termina, sans-serif;
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 15px;
}

.team .textdiv {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  text-align: center;
  background-color: rgba(253, 23, 27, 0.6);
  overflow: hidden;
}

.team p {
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 16px;
  color: #fff;
}

.news-listing {
  margin-top: 50px;
}

.news-listing .contentdiv {
  position: relative;
  height: 100%;
}

.news-listing .textdiv {
  text-align: center;
  padding-bottom: 20px;
  color: #fff;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news-listing img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.news-listing h5 {
  font-family: termina, sans-serif;
  font-size: 20px;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-bottom: 0;
  color: #fff;
}

.news-listing h6 {
  font-family: agenda-b, sans-serif;
  font-size: 19px;
  font-weight: 700;
  margin-bottom: 5px;
  letter-spacing: 0.4px;
  color: #fff;
}

.news-listing .row > div {
  padding-left: 0;
  padding-right: 0;
}

.news-listing .row {
  margin-left: 0;
  margin-right: 0;
}

.agency-bot-ban {
  position: relative;
  background-image: url(../img/agency-bottom-banner.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.agency-bot-ban h4 {
  color: #fff;
}

.agency-bot-ban p {
  margin-bottom: 0;
}

.agency-bot-ban:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 35, 36, 0.75);
  z-index: 4;
}

.agency-bot-ban .container {
  position: relative;
  z-index: 10;
}

.agency-bot-ban.workcasestudy-banner {
  background-image: url(../img/workcasestudy-banner.jpg);
}

.agency-bot-ban.workcasestudy-banner:before {
  background-color: rgba(30, 35, 36, 0.6);
}

.agency-bot-ban.workcasestudy-banner:after {
  content: "";
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    to(rgba(30, 35, 36, 0.7))
  );
  background-image: linear-gradient(transparent, rgba(30, 35, 36, 0.7));
  z-index: 5;
}

.agency-bot-ban.workcasestudy-banner h4 {
  font-family: termina, sans-serif;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 40px;
}

.agency-bot-ban.workcasestudy-banner p {
  font-family: termina, sans-serif;
  font-size: 25px;
  color: #fff;
  max-width: 690px;
  line-height: 36px;
}

.agency-bot-ban.workcasestudy-banner .container {
  max-width: 1260px;
}

.agency-bot-ban.n-single-banner {
  background-image: url(../img/news-single-banner.jpg);
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.agency-bot-ban.n-single-banner h4 {
  font-family: termina, sans-serif;
  font-size: 18px;
  text-align: left;
  margin-bottom: 50px;
  margin-top: 40px;
}

.agency-bot-ban.n-single-banner p {
  font-family: termina, sans-serif;
  font-size: 25px;
  color: #fff;
  line-height: 36px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.img-wrap {
  text-align: center;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.two-col {
  max-width: 1170px;
}

.two-col .row {
  margin-left: 0px;
  margin-right: 0px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.two-col .row > div {
  padding-left: 0;
  padding-right: 0;
}

.two-col .row > div:nth-child(1) {
  padding-top: 50px;
  padding-bottom: 60px;
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.two-col .row > div:nth-child(1) img {
  width: 100%;
}

.two-col .row > div:nth-child(2) {
  width: 470px;
  border-bottom: 1px solid #707070;
}

.two-col .row p {
  text-align: center;
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  font-size: 20px;
  letter-spacing: 0.26px;
  line-height: 28px;
}

.two-col .row h5 {
  margin-bottom: 45px;
}

.two-col .row .img-wrap {
  padding-bottom: 25px;
}

.two-col .row:nth-child(even) > div:nth-child(1) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.two-col .row:nth-child(even) > div:nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.two-col .row:last-child {
  padding-bottom: 0;
}

.two-col .row:last-child > div:nth-child(2) {
  border-bottom: none;
}

.readmore-wrap.agencyread {
  width: 140px;
}

.readmore-wrap.agencyread > span:nth-child(2) {
  right: 7px;
}

.readmore-wrap.agencyread:hover span:nth-child(1) {
  width: 139px;
}

.case-banner {
  height: 370px;
}

.subsection {
  max-width: 1160px;
  margin-top: 100px;
}

.subsection h3 {
  font-family: termina, sans-serif;
  font-size: 35px;
  margin-bottom: 40px;
}

.subsection p {
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 28px;
  color: #1e2324;
  max-width: 805px;
}

.subsection .right-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.subsection .right-col div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #1e2324;
  font-family: termina, sans-serif;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
}

.subsection .right-col ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  list-style: none;
}

.subsection .right-col li {
  font-family: agenda-m, sans-serif;
  font-size: 18px;
  color: #1e2324;
  margin-bottom: 5px;
}

.work-fullbanner {
  height: 600px;
  /*margin-top: 50px;*/
  margin-bottom: 100px;
}

.work-fullbanner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.work-twocol h5 {
  text-align: left;
  padding-left: 30px;
}

.work-twocol .row:nth-child(even) {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.work-twocol .row:nth-child(even) > div:nth-child(1) {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.work-twocol .row:nth-child(even) > div:nth-child(2) {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}

.work-twocol .row:nth-child(even) .r-col {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.work-twocol .row:nth-child(odd) .r-col {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.work-twocol .row > div {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 100px;
}

.work-twocol .row > div:nth-child(1) {
  height: 600px;
}

.work-twocol img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.work-twocol .r-col {
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 100%;
  max-width: 575px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.work-twocol .r-col div {
  width: 100%;
  max-width: 470px;
  margin-left: 15px;
  margin-right: 15px;
}

.work-twocol .r-col div p {
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  font-size: 20px;
  letter-spacing: 0.4px;
  color: #1e2324;
  line-height: 28px;
}
.text-block-top {
  padding-bottom: 80px;
}

.text-block {
  max-width: 1180px;
}

.text-block h5 {
  text-align: left;
  padding-left: 30px;
}

.text-block p {
  font-family: agenda-l, sans-serif;
  color: #1e2324;
  max-width: 1030px;
  color: #1e2324;
  letter-spacing: 0.4px;
  line-height: 28px;
  font-size: 20px;
}

.work-small-banner {
  margin-top: 50px;
  height: 410px;
  max-width: 1180px;
}
.work-small-banner-news {
  margin-top: 0;
}

.work-small-banner img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.work-button {
  max-width: 1180px;
}

.readmore-wrap.w-button {
  margin-top: 50px;
  color: #fd171b;
  width: 205px;
}

.readmore-wrap.w-button:hover span:nth-child(1) {
  width: 200px;
}

.trio-block {
  padding-top: 100px;
}

.trio-block .row > div {
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
  border-right: 1px solid #fff;
  min-height: 245px;
}

.trio-block .row > div:last-child {
  border-right: none;
}

.trio-block .row > div > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.trio-block h6 {
  font-family: termina, sans-serif;
  font-size: 10px;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
}

.trio-block h5 {
  font-family: termina, sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: left;
  line-height: 22px;
  max-width: 240px;
}

.trio-block-overlay {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(30, 35, 36, 0.6)),
    color-stop(15%, rgba(30, 35, 36, 0.6)),
    to(rgba(30, 35, 36, 0.8))
  );
  background-image: linear-gradient(
    rgba(30, 35, 36, 0.6) 0%,
    rgba(30, 35, 36, 0.6) 15%,
    rgba(30, 35, 36, 0.8)
  );
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.n-single-banner {
  margin-bottom: 25px;
}

.n-sing p {
  max-width: initial;
}

.n-sing h6 {
  font-size: 18px;
  font-family: agenda-m, sans-serif;
  padding-bottom: 10px;
  margin-left: 10px;
}

.n-sing h6:last-of-type {
  padding-bottom: 70px;
}

.readmore-wrap.s-news {
  margin-top: 70px;
  color: #fd171b;
  width: 150px;
}

.readmore-wrap.s-news:hover span:nth-child(1) {
  width: 145px;
}

.readmore-wrap.case {
  margin-top: 50px;
  color: #fd171b;
  width: 205px;
}

.readmore-wrap.case:hover span:nth-child(1) {
  width: 205px;
}

.last3-block {
  max-width: 1150px;
}

.form-section {
  padding-top: 4%;
  padding-bottom: 2.7%;
  max-width: 1100px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.form-section .row {
  margin-left: 0;
  margin-right: 0;
}

.form-section input[type="text"],
.form-section input[type="tel"],
.form-section input[type="email"],
textarea {
  padding: 12px;
  padding-left: 0;
  border: none;
  border-bottom: 1px solid #322e2f;
  margin-bottom: 23px;
}

.form-section input[type="text"]::-webkit-input-placeholder,
.form-section input[type="tel"]::-webkit-input-placeholder,
.form-section input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #322e2f;
  font-size: 18px;
  font-family: agenda-r, sans-serif;
}

.form-section input[type="text"]:-ms-input-placeholder,
.form-section input[type="tel"]:-ms-input-placeholder,
.form-section input[type="email"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #322e2f;
  font-size: 18px;
  font-family: agenda-r, sans-serif;
}

.form-section input[type="text"]::-ms-input-placeholder,
.form-section input[type="tel"]::-ms-input-placeholder,
.form-section input[type="email"]::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #322e2f;
  font-size: 18px;
  font-family: agenda-r, sans-serif;
}

.form-section input[type="text"]::placeholder,
.form-section input[type="tel"]::placeholder,
.form-section input[type="email"]::placeholder,
textarea::placeholder {
  color: #322e2f;
  font-size: 18px;
  font-family: agenda-r, sans-serif;
}

.content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.short-input input,
textarea {
  width: 100%;
}

.short-input input:focus,
textarea:focus {
  outline: none;
}

.contact-submit:focus {
  outline: none;
}

.short-input {
  -ms-flex-preferred-size: 45%;
  flex-basis: 45%;
}

.short-input label,
.textarea-wrap label {
  color: #fd171b;
  font-family: termina, sans-serif;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 8px;
  margin-left: 0px;
}

.textarea-wrap {
  width: 100%;
}

textarea {
  height: 50px;
  margin-bottom: 50px;
  resize: none;
}

.check-box {
  font-family: agenda-r, sans-serif;
  display: block;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 141px;
  position: relative;
  padding-left: 27px;
  margin-bottom: 0px;
  margin-left: 30px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  color: #1e2324;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check-box input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #707070;
}

/* On mouse-over, add a grey background color */
.check-box:hover input ~ .checkmark {
  background-color: rgba(224, 218, 218, 0.5);
}

/* When the checkbox is checked, add a blue background */
.check-box input:checked ~ .checkmark {
  background-color: #fd171b;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 0px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.check-box input:checked ~ .checkmark:after {
  display: block;
}

.consentbox label {
  font-family: agenda-r, sans-serif;
  display: block;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  width: 141px;
  position: relative;
  padding-left: 27px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 30px;
  cursor: pointer;
  font-size: 15px;
  line-height: 30px;
  color: #1e2324;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.consentbox label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.consentbox label span:before {
  position: absolute;
  top: 6px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid #707070;
}

/* On mouse-over, add a grey background color */
.consentbox label:hover span:before {
  background-color: rgba(224, 218, 218, 0.5);
}

/* When the checkbox is checked, add a blue background */
.consentbox label input:checked ~ span:before {
  background-color: #fd171b;
  border: none;
}

/* Create the checkmark/indicator (hidden when not checked) */
.consentbox label span:after {
  content: "";
  position: absolute;
  display: none;
  left: 5px;
  top: 6px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.consentbox label input:checked ~ span:after {
  display: block;
}

.submit-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.submit-wrap:after {
  content: url(../img/readmore.svg);
  position: absolute;
  top: 3px;
  left: 95px;
  z-index: 10;
}

.wpcf7 .ajax-loader {
  margin: 0 3px;
}

.wpcf7-list-item {
  margin-left: 0;
}

.contact-submit {
  background-color: #fd171b;
  border-radius: 15px;
  width: 120px;
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 15px;
  color: #fff;
  font-size: 12px;
  font-family: termina, sans-serif;
  border: none;
  text-align: left;
}

.whatwedo {
  font-family: agenda-r, sans-serif;
  font-size: 15px;
  text-decoration: underline;
  margin-right: auto;
  padding-bottom: 2px;
  color: #1e2324;
  display: inline-block;
}

.last-b-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bottom-section {
  max-width: 1180px;
  padding-top: 60px;
}

.bottom-section img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.l-content-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.left-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 35, 36, 0.45);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.left-content p {
  font-family: agenda-m, sans-serif;
  font-size: 25px;
  letter-spacing: 0.4px;
  line-height: 32px;
  margin-bottom: 0;
  color: #fff;
}

.right-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.right-content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.right-content ul {
  list-style: none;
  padding: 0;
  padding-top: 10px;
  margin: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 75px;
}

.right-content .tel,
.right-content .mail {
  font-family: agenda-r, sans-serif;
  font-size: 26px;
  color: #1e2324;
  margin-bottom: 10px;
}

.right-content .tel span,
.right-content .mail span {
  color: #fd171b;
  margin-right: 5px;
}
.right-content i {
  font-size: 22px;
}

.one,
.two,
.three {
  opacity: 0;
  height: 0;
  -webkit-animation-name: animename;
  animation-name: animename;
  -webkit-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.two {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.three {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

@-webkit-keyframes animename {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

@keyframes animename {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}

.wrap {
  position: relative;
  height: 100vh;
  background-color: #fd171b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.contentt p {
  text-align: center;
  color: #fff;
}

.contentt p:nth-child(1) {
  margin-bottom: 0;
  font-family: termina, sans-serif;
  font-size: 32px;
}

.contentt p:nth-child(2) {
  font-family: termina, sans-serif;
  font-size: 32px;
}

.contentt p:nth-child(3) {
  font-family: agenda-r, sans-serif;
  font-size: 18px;
}

.closespan {
  color: #fff;
  font-size: 36px;
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.page-template-thank footer,
.page-template-thank header {
  display: none;
}

@media (min-width: 575px) {
  .home-slider .swiper-pagination {
    width: 40%;
    left: auto;
    right: 0;
  }
}

@media (min-width: 768px) {
  .gg {
    display: none;
  }
  .work-twocol .row {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

@media (min-width: 992px) {
  .news-listing .contentdiv:hover img {
    opacity: 1;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .news-listing .contentdiv:hover .textdiv {
    color: #fff;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .news-listing .contentdiv:hover h5,
  .news-listing .contentdiv:hover h6 {
    color: #fff;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .news-listing img {
    opacity: 0;
  }
  .news-listing h5 {
    color: #1e2324;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .news-listing h6 {
    color: #1e2324;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .team .contentdiv:hover .textdiv {
    opacity: 1;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .team .contentdiv:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .team .textdiv {
    padding-top: 43%;
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(253, 23, 27, 0.6);
    opacity: 0;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
    overflow: hidden;
  }
}
@media (min-width: 1200px) {
  .quadrooverlay .all-wrap {
    /*height:230px;*/
    justify-content: flex-start;
  }
  .quadro .readmorediv {
    margin-top: 60px;
  }
  .text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
  }
}

@media (max-width: 1600px) {
  .agency-bot-ban {
    background-image: url(../img/agency-bottom-banner.jpg);
    height: 370px;
    background-position: 60% top;
  }
}
@media (max-width: 1500px) {
  .quadro.brands > div:before {
    padding-top: 0px;
  }
  .quadro.brands > div {
    min-height: 400px;
  }
  .quadro.brands > div:nth-child(odd) {
    position: relative;
    padding-right: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
    /*border:1px solid red;*/
  }
  .quadro.brands > div:nth-child(odd) > div {
    position: relative;
    /*border:1px solid red;*/
  }
  .quadro.brands > div:nth-child(even) {
    position: relative;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .quadro.brands > div:nth-child(even) > div {
    position: relative;
    /*border:1px solid red;*/
  }
  .brands .quadrooverlay {
    position: initial;
  }
}

@media (max-width: 1199px) {
  footer .privacy {
    margin-left: 40px;
  }
  .b-content p {
    font-size: 60px;
    line-height: initial;
  }
  .b-content .changing-line {
    margin-top: 40px;
  }
  .quadrooverlay .all-wrap {
    /*height: 185px;*/
  }
  .two-col .row > div:nth-child(1) {
    width: 50%;
  }
  .two-col .row > div:nth-child(2) {
    width: 45%;
  }
  .two-col .row h5 {
    margin-bottom: 25px;
  }
  .quadro.brands > div:before {
    padding-top: 370px;
  }
  .brands .content {
    padding-left: 0;
    padding-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .brands .content .title {
    text-align: center;
  }
  .text-wrap {
    padding-top: 0px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .img-wrap {
    margin-bottom: 10px;
  }
  .brands .content {
    padding-bottom: 30px;
  }
  .quadro.brands > div:before {
    padding-top: 0px;
  }
  .brands .cutch {
    text-align: center;
  }
}

@media (max-width: 991px) {
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  footer .copy {
    margin-top: 30px;
  }
  .news-listing .row > div {
    padding: 1px;
  }
  .subsection p,
  .text-block p,
  .work-twocol .r-col div p {
    font-size: 18px;
    line-height: 26px;
  }
  .work-twocol .row > div:nth-child(1) {
    height: 400px;
  }
  .work-twocol h5 {
    margin-bottom: 10px;
  }
  .text-block h5 {
    margin-bottom: 10px;
  }
  .n-sing h6:last-of-type {
    padding-bottom: 50px;
  }
  .work-fullbanner {
    height: 400px;
    /*margin-top: 50px;*/
    margin-bottom: 70px;
  }
  .work-twocol .row > div {
    margin-bottom: 70px;
  }
  .news-listing .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .trio-block {
    padding-top: 70px;
  }
  .trio-block .row > div:last-child {
    border-right: none;
    border-top: 1px solid #fff;
  }
  .trio-block .row {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .subsection {
    margin-top: 70px;
  }
  .subsection h3 {
    margin-bottom: 30px;
  }
  .readmore-wrap {
    font-size: 15px;
    width: 160px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }
  .readmore-wrap > span:nth-child(1) {
    width: 160px;
    height: 33px;
  }
  .readmore-wrap > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap > span:nth-child(3) {
    opacity: 1;
  }
  .readmore-wrap:hover > span:nth-child(1) {
    width: 160px;
  }
  .readmore-wrap:hover > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap:hover > span:nth-child(3) {
    opacity: 1;
  }
  .readmore-wrap.agencyread {
    width: 170px;
  }
  .readmore-wrap.agencyread > span:nth-child(1) {
    width: 170px;
    height: 33px;
  }
  .readmore-wrap.agencyread > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap.agencyread > span:nth-child(3) {
    opacity: 1;
  }
  .readmore-wrap.agencyread:hover > span:nth-child(1) {
    width: 170px;
  }
  .readmore-wrap.agencyread:hover > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap.agencyread:hover > span:nth-child(3) {
    opacity: 1;
  }
  .clients .readmore-wrap {
    margin-top: 30px;
  }
  .readmore-wrap.s-news {
    width: 170px;
  }
  .readmore-wrap.s-news span:nth-child(1) {
    width: 169px;
  }
  .readmore-wrap.s-news:hover > span:nth-child(1) {
    width: 169px;
  }
  .readmore-wrap.w-button {
    width: 240px;
  }
  .readmore-wrap.w-button > span:nth-child(1) {
    width: 240px;
  }
  .readmore-wrap.w-button:hover span:nth-child(1) {
    width: 240px;
  }
  .readmore-wrap.case {
    width: 235px;
  }
  .readmore-wrap.case span:nth-child(1) {
    width: 235px;
  }
  .readmore-wrap.case:hover > span:nth-child(1) {
    width: 235px;
  }
  .h-line {
    border-bottom: 1px solid #1e2324;
    margin-left: 15px;
    margin-right: 15px;
  }
  footer {
    padding-bottom: 20px;
  }
  .quadro > div:before {
    padding-top: 350px;
  }
  .quadro .readmorediv {
    margin-top: 40px;
  }
  .text-block-top {
    padding-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .right-content {
    padding-bottom: 30px;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  footer .copy {
    margin-top: 0px;
    margin-right: auto;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer ul {
    margin-left: 0;
    margin-bottom: 10px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  footer .tel {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  footer .mail {
    margin-left: 0;
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }
  footer .getintouch {
    margin-left: 0;
    margin-top: 25px;
    margin-bottom: 35px;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
  }
  footer .privacy {
    margin-left: 0;
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
  }
  footer .copy {
    margin-top: 15px;
    -webkit-box-ordinal-group: 7;
    -ms-flex-order: 6;
    order: 6;
  }
  .gg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    z-index: 1001;
  }
  .mob-menu {
    position: absolute;
    top: 50px;
    height: 100%;
    left: -101%;
    background-color: white;
    list-style-type: none;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 20px;
    z-index: 10;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .mob-menu li {
    margin-top: 10px;
  }
  .mob-menu a {
    color: #fff;
  }
  .mob-menu.visible {
    left: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .animated-icon2 {
    width: 25px;
    height: 15px;
    position: relative;
    margin: 0px;
    transform: rotatex(0deg);
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
  .animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .animated-icon2 span {
    background: #1e2324;
  }
  .animated-icon2.open span {
    background: #fff;
  }

  .animated-icon2 span:nth-child(1) {
    top: 0px;
  }

  .animated-icon2 span:nth-child(2),
  .animated-icon2 span:nth-child(3) {
    top: 6px;
  }

  .animated-icon2 span:nth-child(4) {
    top: 12px;
  }

  .animated-icon2.open span:nth-child(1) {
    top: 7px;
    width: 0%;
    left: 50%;
  }

  .animated-icon2.open span:nth-child(2) {
    transform: rotate(45deg);
  }

  .animated-icon2.open span:nth-child(3) {
    transform: rotate(-45deg);
  }

  .animated-icon2.open span:nth-child(4) {
    top: 7px;
    width: 0%;
    left: 50%;
  }
  .menudiv {
    display: none;
  }
  .menudiv.visible {
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fd171b;
    z-index: 1000;
  }
  .menudiv.visible ul {
    padding-top: 20%;
    width: 100%;
    height: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }
  .menudiv.visible ul a {
    margin-left: 0px;
    color: #fff;
    font-size: 20px;
    font-family: termina, sans-serif;
  }
  .menudiv div.social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 20%;
  }
  .menudiv div.social li {
    list-style: none;
  }
  .menudiv div.social a {
    color: #fff;
    margin-left: 8px;
    margin-right: 8px;
  }
  .b-content p {
    font-size: 36px;
  }
  .b-content .changing-line > div {
    font-size: 18px;
  }
  .subbanner p {
    font-family: agenda-l, sans-serif;
    color: #1e2324;
    letter-spacing: 0.4px;
    color: #1e2324;
    font-size: 20px;
    text-align: center;
    line-height: 25px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .subbanner {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .quadro > div:nth-child(odd) > div {
    right: 0px;
  }
  .quadro > div:nth-child(even) > div {
    left: 0px;
  }
  .two-col .row {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .two-col .row > div:nth-child(1) {
    width: 100%;
  }
  .two-col .row > div:nth-child(2) {
    width: 100%;
  }
  .two-col .row:nth-child(even) > div:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .two-col .row:nth-child(even) > div:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .two-col .row:last-child > div:nth-child(2) {
    border-bottom: 1px solid #1e2324;
  }
  .two-col .row {
    padding-bottom: 0;
  }
  .two-col .row p {
    margin-bottom: 30px;
  }
  .agency-s.subbanner {
    padding-bottom: 0;
  }
  .work-twocol .row:nth-child(odd) {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .work-twocol .row:nth-child(odd) > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .work-twocol .row:nth-child(odd) > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .work-twocol .row:nth-child(odd) .r-col {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .work-twocol .row:nth-child(odd) .r-col {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .work-twocol .row .r-col {
    max-width: 100%;
  }
  .n-sing h6:last-of-type {
    padding-bottom: 30px;
  }
  .n-sing h6 {
    margin-bottom: 0;
  }
  .work-twocol .row > div:nth-child(2) {
    margin-bottom: 0px;
  }
  .work-twocol .row > div:nth-child(1) {
    margin-bottom: 50px;
  }
  .last3-block {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .trio-block {
    padding-top: 50px;
    padding-bottom: 30px;
  }
  .trio-block .row > div {
    border-right: none;
  }
  .trio-block .row > div:nth-child(2) {
    border-top: 1px solid #fff;
  }
  .subsection {
    margin-top: 30px;
  }
  .subsection .row > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .subsection .row > div:nth-child(2) {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
  }
  .subsection .right-col {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .subsection .right-col div {
    margin-top: 0;
    margin-bottom: 5px;
  }
  .subsection .right-col p {
    margin-bottom: 0;
  }
  .subsection h3 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
  }
  .work-fullbanner {
    /*margin-top: 35px;*/
    margin-bottom: 50px;
  }
  .readmore-wrap {
    font-size: 15px;
    width: 160px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
  }
  .readmore-wrap > span:nth-child(1) {
    width: 160px;
    height: 33px;
  }
  .readmore-wrap > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap > span:nth-child(3) {
    opacity: 1;
  }
  .readmore-wrap:hover > span:nth-child(1) {
    width: 160px;
  }
  .readmore-wrap:hover > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap:hover > span:nth-child(3) {
    opacity: 1;
  }
  .readmore-wrap.agencyread {
    width: 170px;
  }
  .readmore-wrap.agencyread > span:nth-child(1) {
    width: 170px;
    height: 33px;
  }
  .readmore-wrap.agencyread > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap.agencyread > span:nth-child(3) {
    opacity: 1;
  }
  .readmore-wrap.agencyread:hover > span:nth-child(1) {
    width: 170px;
  }
  .readmore-wrap.agencyread:hover > span:nth-child(2) {
    opacity: 0;
    -webkit-transition: all 0s;
    transition: all 0s;
  }
  .readmore-wrap.agencyread:hover > span:nth-child(3) {
    opacity: 1;
  }
  .clients .readmore-wrap {
    margin-top: 10px;
  }
  footer {
    padding-top: 40px;
    padding-bottom: 30px;
  }

  h4 {
    font-size: 25px;
  }
  .clients h4 {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .brands .content {
    padding-left: 15px;
  }
  .work-twocol h5 {
    padding-left: 0;
  }
  header.container {
    padding-right: 40px;
  }
  .arrow-wrap {
    width: 25px;
    bottom: 70px;
  }
  .quadro.brands > div:nth-child(even) {
    padding-left: 0;
  }
  .quadro.brands > div:nth-child(odd) {
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .short-input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .last-b-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .check-box {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 20px;
  }
  .quadrooverlay p {
    font-size: 20px;
  }
  .quadro {
    margin-bottom: 1px;
  }
  .quadro > div:before {
    padding-top: 370px;
  }
  .content {
    padding-left: 15px;
    padding-right: 15px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .title {
    text-align: center;
  }
  .home-slider .swiper-pagination {
    bottom: 25px;
    text-align: center;
    padding-right: 0px;
  }
  .home-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    background-color: transparent;
    opacity: 1;
  }
  .home-slider .swiper-pagination-bullet-active {
    background-color: #fff;
  }
  .agency-bot-ban.n-single-banner p {
    padding-left: 0;
  }
  .work-small-banner {
    padding-left: 0;
    padding-right: 0;
  }
  .work-twocol .row > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .trio-block-overlay {
    padding-left: 15px;
  }
  .work-twocol .r-col div {
    margin-left: 0;
    margin-right: 0;
  }
  .short-input label,
  .textarea-wrap label {
    margin-bottom: 0;
    margin-top: 30px;
  }
  .wpcf7#wpcf7-f329-o1 {
    padding-left: 15px;
    padding-right: 15px;
  }
  .form-section input[type="text"],
  .form-section input[type="tel"],
  .form-section input[type="email"],
  textarea {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  textarea {
    height: 30px;
    margin-bottom: 30px;
  }
  .arrow-wrap {
    width: 25px;
  }
  .form-section {
    padding-left: 0;
    padding-right: 0;
  }
  .submit-wrap {
    align-self: flex-start;
  }
  .submit-wrap input {
    font-size: 15px;
  }
  .consentbox {
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .right-content .tel,
  .right-content .mail {
    font-size: 22px;
  }
  .submit-wrap:after {
    top: 5px;
  }
  .title {
    font-size: 23px;
  }
  .text-block-top {
    padding-bottom: 30px;
  }
}

.wpcf7 form.sent .wpcf7-response-output {
  display: none;
}
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
a.white {
  color: #fff;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
  only screen and (-o-min-device-pixel-ratio: 3 / 2),
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  input,
  textarea {
    /* remove inner shadow on iOS input */
    background-image: -webkit-linear-gradient(
      #fff 0,
      0%,
      100%,
      0,
      #fff 0,
      0%,
      100%,
      0
    );
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
textarea {
  overflow: hidden;
}

.dd {
  color: #fd171b;
}

.br {
  border: 1px solid red;
}

.bb {
  border: 1px solid blue;
}

/*# sourceMappingURL=main.css.map */
